.navbar_right {
  float: right;
  padding: 1em;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 2em;
}

.row {
  text-align: center;
  display: inline-block;
}

.col-md-4 {
  margin-bottom: 3em;
  padding: 1em;
}

.col-sm-5 {
  margin-bottom: 3em;
  padding: 1em;
}

.col-xs-9 {
  margin-bottom: 3em;
  padding: 2em;
}

.alert {
  margin-top: 1em;
}

h2 {
  margin-left: 1em;
  text-decoration: underline;
}

.vouchers {
  margin-left: 1em;
}
