<h2>Basket</h2>
<div>
  <table class="table">
    <tr>
      <th>Description</th>
      <th>Qty</th>
      <th>Cost</th>
      <th>Total</th>
      <th></th>
    </tr>
    <tr ng-repeat='item in basket'>
      <td>{{item.name}}</td>
      <td ng-model="item.chosenAmount" ng-init="item.chosenAmount = 0">{{item.chosenAmount}}</td>
      <td>{{item.cost}}</td>
      <td>{{item.chosenAmount * item.cost | currency}}</td>
      <td>
          [<a href ng-click="removeItem($index)">X</a>]
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Total:</td>
      <td>{{ calculateTotal() | currency:"£" }}</td>
    </tr>
  </table>
</div>
