<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-form navbar-left">
    <input ng-model="query" placeholder="Search" class="form-control">
    Sort by:
    <select ng-model="orderProp">
      <option value="name">Alphabetical</option>
      <option value="price">Price</option>
      <option value="age">Newest</option>
    </select>
  </div>
  <div class="navbar_right">
    <img id="cart" src="images/cart.png"><a href="/app/#/basket" id="basket" ng-bind="'Basket: ' + '£' + total.toFixed(2)"></a>
  </div>
</nav>

<nav class="container-fluid">
  <nav class="row">
    <nav class="col-md-4 col-sm-5 col-xs-9" ng-repeat="item in items | filter:query | orderBy:orderProp" class="thumbnail">
      <img src={{item.image}} height="150" width="150">
      <h3><b>{{item.name}}</b></h3>
      <p>Colour: {{item.colour}}</p>
      <p>{{item.price.toFixed(2) | currency:'£'}}</p>
      <p>Stock left: {{item.stock}}</p>
      <p>Category: {{item.category}}</p>
      <input class="add-to-basket btn btn-primary" type="button" value="Add to Basket" ng-click="add(item); calculateTotal()">
    </nav>
  </nav>
</nav>