<!DOCTYPE html>
<html lang="en" ng-app="shopApp">
<head>
  <meta charset="utf-8">
  <title>AngularShop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>

<body ng-controller="ShopListCtrl">

  <nav class="container-fluid">
    <nav class="row">
      <nav class="col-md-2">
        <!-- Sidebar Content -->
        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="price">Price</option>
          <option value="age">Newest</option>
        </select>
      </nav>

      <nav class="col-md-10">
        <!-- Body Content -->
        <ul class="items">
          <li ng-repeat="item in items | filter:query | orderBy:orderProp">
            <h3>{{item.name}}</h3>
            <p>Colour: {{item.colour}}</p>
            <p>£{{item.price}}</p>
            <p>Stock left: {{item.stock}}</p>
            <p>Category: {{item.category}}</p>
          </li>
        </ul>
      </nav>
    </nav>
  </nav>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

</body>
</html>
